<!--SECCION 3-->
<form *ngIf="dataInitialized" [formGroup]="addNewForm" class="flex justify-center flex-column p-3">
  <div class="container">
    <app-date-field formControlName="fechaCompra" label="Fecha de Compra" [minDate]="maxDate" [maxDate]="newDate" [isRequired]="true" [autoScroll]="true" [isValidated]="validationIssues && !addNewForm.controls.fechaCompra.valid"></app-date-field>
  </div>
  <div class="container">
    <app-select-field formControlName="distribuidor" label="Distribuidor" placeholder="Seleccionar distribuidor" [optionList] ="distributor" [isRequired]="true" [autoScroll]="true" [isValidated]="validationIssues && !addNewForm.controls.distribuidor.valid"></app-select-field>
  </div>
  <div class="container">
    <app-select-field formControlName="sucursal" label="Sucursal actual" [autoScroll]="true" [isRequired]="true" [disableCheck]="!sucursal.length" placeholder="Seleccionar sucursal actual" [optionList] ="sucursal" [isValidated]="validationIssues && !addNewForm.controls.sucursal.valid"></app-select-field>
  </div>
  <div class="container">
    <app-input-field formControlName="vendedor" label="Vendedor" [autoScroll]="true" [isRequired]="true" placeholder="Ingresar vendedor"  [isValidated]="validationIssues && !addNewForm.controls.vendedor.valid"></app-input-field>
  </div>
  <div class="container">
    <app-camera-field formControlName="factura" (deletePhotoEvent)="deletePhoto()" [isRequired]="true" label="Subir/Tomar imagen" [isValidated]="validationIssues && !addNewForm.controls.factura.valid" setValueLabel="Imagen de la Factura"></app-camera-field>
  </div>
</form>
