<div *ngIf="dataInitialized" class="h-full w-full p-2 border-black border rounded-md">
  <div class="rounded-sm shadow-md p-2">
    <div class="title-container border-b-2 flex flex-column">
      <h1 class="font-bold" style="font-size:24px">Compresores Instalados: {{recordStats.length}}</h1>
      <div class="w-full">
        <p class="font-md">Filtro
          <span > Desde: {{compareDateBiggerThan | date: dateFormat}}</span> - <span>Hasta: {{compareDateLesserThan | date: dateFormat}}</span>
        </p>
      </div>
    </div>
    <!-- CHART COMPONENT -->
      <div style="display: block" class="mt-2">
        <canvas baseChart height="250"
          [data]="dataset"
          [options]="chartOptionsValue"
          [plugins]="chartPlugins"
          [type]="chartType"
          >
        </canvas>
      </div>
  </div>
  <section class="w-full flex justify-center mt-2">
    <section class="w-4/5">
      <ion-button expand="full" (click)="goToStats()">Ir a Estadísticas</ion-button>
    </section>
  </section>

</div>